*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/build/
app/.cxx/
.kotlin/

*.gguf
*.bin

app/src/main/cpp/build-llama/
app/src/main/cpp/build-mtmd/

crash_log.txt
err.txt
err1.txt
err2.txt
logcat.txt
logcat2.txt
logcat_live.txt
app/cmake_test_build2/
